<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="/assets/style.css">
</head>

<body class="h-full w-full flex justify-center items-center bg-gray-50 flex-column gap-2">
  <h1>Login</h1>
  <form action="login" method="POST" autocomplete="off" action="update" method="POST" class="flex justify-center items-center px-4 py-3 rounded-3xl bg-gray-200 shadow-xl flex-column gap-2" style="min-width: 25rem;">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">login</button>
  </form>
  <a href="register">or register new</a>
</body>

</html>